/* NAVBAR */

#navbar .logo {
  /* we remove float for logo, we want it to the middle */
  float: none;
  text-align: center;
}

/* set both ul and li to none */
#navbar ul, #navbar ul li {
  float: none;
}

/* we want to resize padding, so we must grab link */
#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}


/* HOME-INFO */

#home-info {
  height: 460px;
}

/* don't display image on mobile devices */
#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width:100%;
}


/* SHOWCASE */

#showcase {
  height: 100%;
}

#showcase .showcase-content {
  padding-top: 70px;
  padding-bottom: 40px;
}

#showcase .showcase-content h1 {
  text-align: center;
  font-size: 67px;

}

#showcase .showcase-content h2 {
  font-size: 35px;

}


/* SUBSRIBE */
#subsribe {
  min-height: 220px;
}

#subsribe h2 {
  float: none;
  padding-top:25px;
  text-align: center;
}

#subsribe form {
  float: none;
  padding-top: 12px;
}

#subsribe form button {
  display: block;
  margin: auto;
  margin-top: 10px;
  
}

#subsribe input {
  padding: 13px 20px;
  width:100%;

}


/* FEATURES */
.box {
  float: none;
  width: 100%;
}


/* ABOUT INFO */
#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-right p {
  text-align: center;
}

.l-heading {
  text-align: center;
  padding-top: 25px;
}


/* CONTACT */

#contact-info .box {
  border-bottom: #f4f4f4 dotted 1px;
}

